<div>
    <h1 class="center-align">The Latest Articles From Escapist!</h1>
    <div class="row">
        <div class="col s3"></div>
        <h5 class="center-align">Click 'Scrape' to update with the latest articles</h5>
    </div>
</div>
<div class="row">
    <div class="col s2"></div>
    <div class="col s8 left-align">
        {{#each article}}
        <div class="card">
            <h4>{{this.title}}</h4>
            <a href="/readArticle/{{this._id}}">Read Full Article</a>
            <p>{{this.summary}}</p>
        </div>
        {{/each}}
    </div>
</div>